#version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: curling_user
      POSTGRES_PASSWORD: curling_password
      POSTGRES_DB: curling_db
    #ports:
    #  - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U curling_user -d curling_db"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"


  bot:
    build: .
    restart: unless-stopped
    depends_on:
      - postgres
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://curling_user:curling_password@postgres:5432/curling_db
      PYTHONPATH: /app
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  postgres_data:
